@model SearcherApplication.Models.ViewModels.EmptySearchViewModel

@{
    ViewBag.Title = "EmptySearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Error Message: @Model.ErrorMessage</h2>
</div>