@model IEnumerable<SearcherApplication.Models.DataModels.SearchQuery>

@{
    ViewBag.Title = "Search History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search History</h2>

<div class="divTable">
    <div class="headRow">
        <div class="divCell">
            <span>@Html.DisplayNameFor(model => model.QueryText)</span>
        </div>
    </div>
    @foreach (var searchQuery in Model)
    {
        <div class="divRow">
            <div class="divCell">
                @Html.DisplayFor(modelItem => searchQuery.QueryText)
            </div>
            <div class="divCell">
                @Html.ActionLink("View Query Results", "ViewQueryResults", new { id = searchQuery.Id })
            </div>
        </div>
    }
</div>